{%   extends("CelmediaPillsBundle::layout.html.twig") %}

{% block contenido %}

<div class="row-fluid">
    <div class="span11" style="margin-left:38px;">
        <div class="space"></div>
        <div class="row-fluid">
            <div class="span2">
                <a href="" style="text-decoration:none;">
                    <img src="{{ asset('img/flecha.png') }}" style="float:left;" />
                    <p class="txt_regresar" >   <a href="{{ path('mostrar_estudios') }}">Regresar</a> </p>
                </a>

            </div>
            
        </div>
        <div class="row-fluid">
            <div class="span12" style="padding-bottom:10px;">

                <h1 class="txt_estudio" >{{  estudio.nombre }}</h1>
                <p class="date_estudio">{{   estudio.fechaCreacion|date('Y:m:d') }}</p>
            </div>
            
        </div>
        <div class="contenido">
          
          {{   estudio.descripcion }}

        </div>
    </div>
</div>

{% endblock %}
